<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="css/blog.css">
    <title>Roman blog</title>
</head>
<body>
    <div class="pure-g">
        <div class="pure-menu pure-menu-horizontal pure-u-1">
            <ul class="pure-menu-list menu-right">
                <li class="pure-menu-item"><a href="/" class="pure-menu-link">What I wrote</a></li>
                <li class="pure-menu-item"><a href="/about.html" class="pure-menu-link">Who I am</a></li>
                <li class="pure-menu-item"><a href="/projects.html" class="pure-menu-link">What I did so far</a></li>
                <li class="pure-menu-item"><a href="/motivate.html" class="pure-menu-link">Motivate yourself</a></li>
            </ul>
        </div>

        <div class="content pure-u-1 pure-u-md-3-4">


            <div class="post">
                <section class="post">
                    <h1>{{ post_title }}</h1>

                        <p> {{ post_body }} </p>

                <p class="content-subhead">{{ post_author }}, Date: {{ post_date }} UTC</p>
                </section>
            </div>

            </div>
        </div>

    </div>

</body>
</html>

